@font-face {
    /* see: https://github.com/kika/fixedsys */
    /* note this setup alone is insufficient to host on shinyapps.io */
    font-family: "fixedsys"; 
    src: url("FSEX302.ttf") format("truetype");
}

body {
    margin: 0px;
    padding: 0px;
    /*display: flex;
    flex-direction: row;
    gap: 0px;*/
    font-family: "fixedsys"; /* Font */
    font-size: clamp(1rem,2.5vw,2.5rem); /* Font size */
    font-variant-ligatures: none;
    font-feature-settings: "liga" 0;
    color: #1dd767; /* text color */
    background-color: #0e4e0b; /* Background color */
}

hr {
    /* horizonal rule tag */
    border:2px solid #1dd767;
}

div.col-sm-4 {
    /* This is the side-panel w/ Text Input Guess box + Console log
    /* No padding -- take up as much space as possible. */
    /* Appear at bottom-right screen instead of default top. */
    /*border: 2px solid #1dd767;*/  /* Borders helpful for debugging or layout desgin */
    margin: 0px;
    margin-right: 1vw;
    padding: 0vw;
    width: 31vw;
    height: clamp(100px,79vw,780px);
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-self: stretch;
    align-items: stretch; /* Down column if flex-direction = Row, Along row if flex-direction is column*/
    justify-content: end; /* Across row if flex-direction = Row, Down column if flex-direction is column*/
    /*position: absolute;*/
    /*bottom: 1vw;
    right: 1vw;*/
}


div.flex-space {
    flex: 1;
    /*border: 1px solid #1dd767;*/
    margin: 0px;
    padding: 0px;
}


#guess {
    /* User Input Text Box: Guess */
    /* Have the style of the font conform to rest of appv */
    border:1px solid #1dd767;
    font-size: clamp(1rem,2.5vw,2.5rem); /* Font size */
    color: #1dd767; /* text color */
    background-color: #0e4e0b; /* Background color */
    padding-bottom: 0vw; /* Padding of the actual textbox relative to border */
    margin: 0px;
    /*width: 100%;*/
    /*position: absolute;
    bottom: 0vw;
    right: 0vw;*/
}

/* Main Terminal area */
/* No padding for area but for 2% in the Right of Column 1: buffer between 2 cols */
div.col-sm-8 {
    /*border:1px solid #1dd767;*/
    margin: 0vw;
    padding-right: 0vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 66vw;
    height: 90vh;
}

#terminal_col_1 {
    /*border:1px solid #1dd767;*/
    margin: 0vw;
    padding: 0vw;
}