@font-face {
    /* see: https://github.com/kika/fixedsys */
    /* note this setup alone is insufficient to host on shinyapps.io */
    font-family: "fixedsys"; 
    src: url("FSEX302.ttf") format("truetype");
}

/*
body, html {
    height: 100%;
  }
*/

body {
    font-family: "fixedsys"; /* Font */
    font-size: clamp(1rem,2.5vw,2.5rem); /* Font size */
    font-variant-ligatures: none;
    font-feature-settings: "liga" 0;
    color: #1dd767; /* text color */
    background-color: #0e4e0b; /* Background color */
}

hr {
    /* horizonal rule tag */
    border:2px solid #1dd767;
}

/*
div.containter-fluid {
    height: 100%;
}

div#primary.row {
    height: 100%;
}

table#container {
    height: 100%;
    border-collapse: collapse;
}
*/

div.col-sm-4 {
    /* This is the side-panel w/ Text Input Guess box + Console log
    /* No padding -- take up as much space as possible. */
    /* Appear at bottom-right screen instead of default top. */
    /*border:2px solid #1dd767;*/  /* Borders helpful for debugging or layout desgin */
    margin: 0em;
    padding: 0 0 0 0;
    position: absolute;
    /*height: 100%;*/
    width: 33vw;
    bottom: 1vw;
    right: 1vw;
}

#guess {
    /* User Input Text Box: Guess */
    /* Have the style of the font conform to rest of appv */
    border:1px solid #1dd767;
    font-size: clamp(1rem,2.5vw,2.5rem); /* Font size */
    color: #1dd767; /* text color */
    background-color: #0e4e0b; /* Background color */
    padding: 0; /* Padding of the actual textbox relative to border */
    /*width: 100%;*/
    position: absolute;
    bottom: 0vw;
    right: 0vw;
}

/* Main Terminal area */
/* No padding for area but for 2% in the Right of Column 1: buffer between 2 cols */
div.col-sm-8 {
    /*border:1px solid #1dd767;*/
    margin: 0vw;
    padding-right: 1vw;
    width: 66vw;
}

#terminal_col_1 {
    /*border:1px solid #1dd767;*/
    margin: 0vw;
    padding: 1vw;
}